# 2 Data Wrangling

 

### 2.1 Loading and Import
### 2.2 Data Exploring
* 2.2.1 Merging 
* 2.2.2 Counting Categorical Variables  

### 2.3 Examine Means and Medians
### 2.4 Data Profiling


#

## 2.1 Loading and Import

In [355]:
#Load all the necessary packages for the wrangling part of the project

import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import requests
from pathlib import Path
import pandas_profiling
from pandas_profiling.utils.cache import cache_file

In [356]:
import sys
!{sys.executable} -m pip install -U pandas-profiling==2.9.0
!jupyter nbextension enable --py widgetsnbextension

Requirement already satisfied: pandas-profiling==2.9.0 in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (2.9.0)
Requirement already satisfied: ipywidgets>=7.5.1 in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from pandas-profiling==2.9.0) (7.6.5)
Requirement already satisfied: scipy>=1.4.1 in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from pandas-profiling==2.9.0) (1.7.1)
Requirement already satisfied: visions[type_image_path]==0.5.0 in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from pandas-profiling==2.9.0) (0.5.0)
Requirement already satisfied: seaborn>=0.10.1 in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from pandas-profiling==2.9.0) (0.11.2)
Requirement already satisfied: tangled-up-in-unicode>=0.0.6 in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from pandas-profiling==2.9.0) (0.2.0)
Requirement already satisfied: joblib in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from pandas-profiling==2.9.0) (1.1.0)
Requirement already satisfied: missingno>=0.4.2 in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from pandas-profiling==2.9.0) (0.5.0)
Requirement already satisfied: matplotlib>=3.2.0 in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from pandas-profiling==2.9.0) (3.4.3)
Requirement already satisfied: htmlmin>=0.1.12 in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from pandas-profiling==2.9.0) (0.1.12)
Requirement already satisfied: numpy>=1.16.0 in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from pandas-profiling==2.9.0) (1.20.3)
Requirement already satisfied: jinja2>=2.11.1 in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from pandas-profiling==2.9.0) (2.11.3)
Requirement already satisfied: attrs>=19.3.0 in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from pandas-profiling==2.9.0) (21.2.0)
Requirement already satisfied: phik>=0.9.10 in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from pandas-profiling==2.9.0) (0.12.0)
Requirement already satisfied: tqdm>=4.43.0 in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from pandas-profiling==2.9.0) (4.62.3)
Requirement already satisfied: requests>=2.23.0 in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from pandas-profiling==2.9.0) (2.26.0)
Requirement already satisfied: confuse>=1.0.0 in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from pandas-profiling==2.9.0) (1.7.0)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3 in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from pandas-profiling==2.9.0) (1.3.4)
Requirement already satisfied: networkx>=2.4 in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from visions[type_image_path]==0.5.0->pandas-profiling==2.9.0) (2.6.3)
Requirement already satisfied: Pillow in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from visions[type_image_path]==0.5.0->pandas-profiling==2.9.0) (8.4.0)
Requirement already satisfied: imagehash in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from visions[type_image_path]==0.5.0->pandas-profiling==2.9.0) (4.2.1)
Requirement already satisfied: pyyaml in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from confuse>=1.0.0->pandas-profiling==2.9.0) (6.0)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from ipywidgets>=7.5.1->pandas-profiling==2.9.0) (3.5.1)
Requirement already satisfied: ipykernel>=4.5.1 in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from ipywidgets>=7.5.1->pandas-profiling==2.9.0) (6.4.1)
Requirement already satisfied: traitlets>=4.3.1 in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from ipywidgets>=7.5.1->pandas-profiling==2.9.0) (5.1.0)
Requirement already satisfied: ipython>=4.0.0 in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from ipywidgets>=7.5.1->pandas-profiling==2.9.0) (7.29.0)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from ipywidgets>=7.5.1->pandas-profiling==2.9.0) (1.0.0)
Requirement already satisfied: nbformat>=4.2.0 in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from ipywidgets>=7.5.1->pandas-profiling==2.9.0) (5.1.3)
Requirement already satisfied: ipython-genutils~=0.2.0 in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from ipywidgets>=7.5.1->pandas-profiling==2.9.0) (0.2.0)
Requirement already satisfied: debugpy<2.0,>=1.0.0 in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas-profiling==2.9.0) (1.4.1)
Requirement already satisfied: jupyter-client<8.0 in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas-profiling==2.9.0) (6.1.12)
Requirement already satisfied: matplotlib-inline<0.2.0,>=0.1.0 in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas-profiling==2.9.0) (0.1.2)
Requirement already satisfied: tornado<7.0,>=4.2 in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas-profiling==2.9.0) (6.1)
Requirement already satisfied: appnope in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas-profiling==2.9.0) (0.1.2)
Requirement already satisfied: pickleshare in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from ipython>=4.0.0->ipywidgets>=7.5.1->pandas-profiling==2.9.0) (0.7.5)
Requirement already satisfied: backcall in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from ipython>=4.0.0->ipywidgets>=7.5.1->pandas-profiling==2.9.0) (0.2.0)
Requirement already satisfied: pexpect>4.3 in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from ipython>=4.0.0->ipywidgets>=7.5.1->pandas-profiling==2.9.0) (4.8.0)
Requirement already satisfied: pygments in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from ipython>=4.0.0->ipywidgets>=7.5.1->pandas-profiling==2.9.0) (2.10.0)
Requirement already satisfied: jedi>=0.16 in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from ipython>=4.0.0->ipywidgets>=7.5.1->pandas-profiling==2.9.0) (0.18.0)
Requirement already satisfied: decorator in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from ipython>=4.0.0->ipywidgets>=7.5.1->pandas-profiling==2.9.0) (5.1.0)
Requirement already satisfied: setuptools>=18.5 in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from ipython>=4.0.0->ipywidgets>=7.5.1->pandas-profiling==2.9.0) (58.0.4)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from ipython>=4.0.0->ipywidgets>=7.5.1->pandas-profiling==2.9.0) (3.0.20)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from jedi>=0.16->ipython>=4.0.0->ipywidgets>=7.5.1->pandas-profiling==2.9.0) (0.8.2)
Requirement already satisfied: MarkupSafe>=0.23 in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from jinja2>=2.11.1->pandas-profiling==2.9.0) (2.0.1)
Requirement already satisfied: jupyter-core>=4.6.0 in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from jupyter-client<8.0->ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas-profiling==2.9.0) (4.8.1)
Requirement already satisfied: pyzmq>=13 in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from jupyter-client<8.0->ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas-profiling==2.9.0) (22.2.1)
Requirement already satisfied: python-dateutil>=2.1 in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from jupyter-client<8.0->ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas-profiling==2.9.0) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.2.0->pandas-profiling==2.9.0) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.2.0->pandas-profiling==2.9.0) (0.10.0)
Requirement already satisfied: pyparsing>=2.2.1 in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.2.0->pandas-profiling==2.9.0) (3.0.4)
Requirement already satisfied: six in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from cycler>=0.10->matplotlib>=3.2.0->pandas-profiling==2.9.0) (1.16.0)

Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from nbformat>=4.2.0->ipywidgets>=7.5.1->pandas-profiling==2.9.0) (3.2.0)
Requirement already satisfied: pyrsistent>=0.14.0 in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.5.1->pandas-profiling==2.9.0) (0.18.0)
Requirement already satisfied: pytz>=2017.3 in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas-profiling==2.9.0) (2021.3)
Requirement already satisfied: ptyprocess>=0.5 in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from pexpect>4.3->ipython>=4.0.0->ipywidgets>=7.5.1->pandas-profiling==2.9.0) (0.7.0)
Requirement already satisfied: wcwidth in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=4.0.0->ipywidgets>=7.5.1->pandas-profiling==2.9.0) (0.2.5)
Requirement already satisfied: certifi>=2017.4.17 in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.23.0->pandas-profiling==2.9.0) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.23.0->pandas-profiling==2.9.0) (3.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.23.0->pandas-profiling==2.9.0) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.23.0->pandas-profiling==2.9.0) (1.26.7)
Requirement already satisfied: notebook>=4.4.1 in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.9.0) (6.4.5)
Requirement already satisfied: argon2-cffi in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.9.0) (20.1.0)
Requirement already satisfied: terminado>=0.8.3 in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.9.0) (0.9.4)
Requirement already satisfied: Send2Trash>=1.5.0 in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.9.0) (1.8.0)
Requirement already satisfied: prometheus-client in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.9.0) (0.11.0)
Requirement already satisfied: nbconvert in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.9.0) (6.1.0)
Requirement already satisfied: cffi>=1.0.0 in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.9.0) (1.14.6)
Requirement already satisfied: pycparser in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from cffi>=1.0.0->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.9.0) (2.20)
Requirement already satisfied: PyWavelets in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from imagehash->visions[type_image_path]==0.5.0->pandas-profiling==2.9.0) (1.1.1)
Requirement already satisfied: bleach in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.9.0) (4.0.0)
Requirement already satisfied: jupyterlab-pygments in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.9.0) (0.1.2)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.9.0) (0.5.3)
Requirement already satisfied: entrypoints>=0.2.2 in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.9.0) (0.3)
Requirement already satisfied: pandocfilters>=1.4.1 in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.9.0) (1.4.3)
Requirement already satisfied: testpath in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.9.0) (0.5.0)
Requirement already satisfied: mistune<2,>=0.8.1 in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.9.0) (0.8.4)
Requirement already satisfied: defusedxml in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.9.0) (0.7.1)
Requirement already satisfied: nest-asyncio in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.9.0) (1.5.1)
Requirement already satisfied: async-generator in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.9.0) (1.10)
Requirement already satisfied: packaging in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.9.0) (21.0)
Requirement already satisfied: webencodings in /Users/liqingyang/opt/anaconda3/lib/python3.9/site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.9.0) (0.5.1)
Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: OK

In [357]:
nba1 = '../Capstone_Project2/Raw_data/NBA1.csv'
nba2 = '../Capstone_Project2/Raw_data/NBA2.csv'
nba3 = '../Capstone_Project2/Raw_data/NBA3.csv'

'''Files from pro basketball reference, they are stored as raw data in the directory'''

'Files from pro basketball reference, they are stored as raw data in the directory'

In [358]:
def loadNBA(file):
    df = pd.read_csv(file)
    df.columns = df.iloc[0, :]
    df = df.drop(0)
    return df

In [359]:
df1 = loadNBA(nba1)
df2 = pd.read_csv(nba2)
df3 = pd.read_csv(nba3)

In [360]:
df1.head()

,Rk,Player,Tm,2021-22,2022-23,2023-24,2024-25,2025-26,2026-27,Signed Using,Guaranteed
1,1,Stephen Curry\curryst01,GSW,"$45,780,966","$48,070,014","$51,915,615","$55,761,216","$59,606,817",NaN,Bird Rights,"$261,134,628"
2,2,John Wall\walljo01,HOU,"$44,310,840","$47,366,760",NaN,NaN,NaN,NaN,Bird Rights,"$44,310,840"
3,3,Russell Westbrook\westbru01,LAL,"$44,211,146","$47,063,478",NaN,NaN,NaN,NaN,Bird Rights,"$44,211,146"
4,4,James Harden\hardeja01,BRK,"$43,848,000","$46,872,000",NaN,NaN,NaN,NaN,Bird Rights,"$43,848,000"
5,5,LeBron James\jamesle01,LAL,"$41,180,544","$44,474,988",NaN,NaN,NaN,NaN,Bird,"$85,655,532"

In [361]:
df2.head()

,Rk,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,...,Unnamed: 19,OWS,DWS,WS,WS/48,Unnamed: 24,OBPM,DBPM,BPM,VORP
0,1,Precious Achiuwa\achiupr01,PF,21,MIA,61,737,14.2,0.550,0.004,...,NaN,0.3,1.0,1.3,0.085,NaN,-3.6,-0.5,-4.1,-0.4
1,2,Jaylen Adams\adamsja01,PG,24,MIL,7,18,-6.5,0.125,0.250,...,NaN,-0.1,0.0,-0.1,-0.252,NaN,-15.1,-4.6,-19.8,-0.1
2,3,Steven Adams\adamsst01,C,27,NOP,58,1605,15.1,0.596,0.010,...,NaN,2.3,1.7,4.0,0.119,NaN,-0.4,0.1,-0.3,0.7
3,4,Bam Adebayo\adebaba01,C,23,MIA,64,2143,22.7,0.626,0.010,...,NaN,5.6,3.2,8.8,0.197,NaN,2.9,2.0,4.9,3.7
4,5,LaMarcus Aldridge\aldrila01,C,35,TOT,26,674,15.7,0.556,0.270,...,NaN,0.5,0.6,1.1,0.080,NaN,-0.2,-0.2,-0.3,0.3

In [362]:
df3.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa\achiupr01,PF,21,MIA,61,4,12.1,2.0,3.7,...,0.509,1.2,2.2,3.4,0.5,0.3,0.5,0.7,1.5,5.0
1,2,Jaylen Adams\adamsja01,PG,24,MIL,7,0,2.6,0.1,1.1,...,NaN,0.0,0.4,0.4,0.3,0.0,0.0,0.0,0.1,0.3
2,3,Steven Adams\adamsst01,C,27,NOP,58,58,27.7,3.3,5.3,...,0.444,3.7,5.2,8.9,1.9,0.9,0.7,1.3,1.9,7.6
3,4,Bam Adebayo\adebaba01,C,23,MIA,64,64,33.5,7.1,12.5,...,0.799,2.2,6.7,9.0,5.4,1.2,1.0,2.6,2.3,18.7
4,5,LaMarcus Aldridge\aldrila01,C,35,TOT,26,23,25.9,5.4,11.4,...,0.872,0.7,3.8,4.5,1.9,0.4,1.1,1.0,1.8,13.5

## 2.2 Data Exploring

### 2.2.1 Merging

#### Since we have three datasets, we will do a left join first with df3 and df2, which represents their regular season stats and their advanced regular season stats. After that, we will do a left join with df1, which represents their salaries in 2021.

In [363]:
new_df = df3.merge(df2, how='left', on='Player', suffixes=['','_a'])
#Data with _r as suffix represents the regular season stats, and _a represents advanced stats

new_df

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,Unnamed: 19,OWS,DWS,WS,WS/48,Unnamed: 24,OBPM,DBPM,BPM,VORP
0,1,Precious Achiuwa\achiupr01,PF,21,MIA,61,4,12.1,2.0,3.7,...,NaN,0.3,1.0,1.3,0.085,NaN,-3.6,-0.5,-4.1,-0.4
1,2,Jaylen Adams\adamsja01,PG,24,MIL,7,0,2.6,0.1,1.1,...,NaN,-0.1,0.0,-0.1,-0.252,NaN,-15.1,-4.6,-19.8,-0.1
2,3,Steven Adams\adamsst01,C,27,NOP,58,58,27.7,3.3,5.3,...,NaN,2.3,1.7,4.0,0.119,NaN,-0.4,0.1,-0.3,0.7
3,4,Bam Adebayo\adebaba01,C,23,MIA,64,64,33.5,7.1,12.5,...,NaN,5.6,3.2,8.8,0.197,NaN,2.9,2.0,4.9,3.7
4,5,LaMarcus Aldridge\aldrila01,C,35,TOT,26,23,25.9,5.4,11.4,...,NaN,0.5,0.6,1.1,0.080,NaN,-0.2,-0.2,-0.3,0.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1216,536,Delon Wright\wrighde01,PG,28,SAC,27,8,25.8,3.9,8.3,...,NaN,0.8,0.5,1.3,0.092,NaN,0.5,0.6,1.2,0.6
1217,537,Thaddeus Young\youngth01,PF,32,CHI,68,23,24.3,5.4,9.7,...,NaN,2.8,2.2,5.1,0.147,NaN,1.9,1.4,3.3,2.2
1218,538,Trae Young\youngtr01,PG,22,ATL,63,63,33.7,7.7,17.7,...,NaN,5.9,1.3,7.2,0.163,NaN,5.3,-1.7,3.7,3.0
1219,539,Cody Zeller\zelleco01,C,28,CHO,48,21,20.9,3.8,6.8,...,NaN,2.1,1.1,3.3,0.156,NaN,-0.2,-0.2,-0.5,0.4
1220,540,Ivica Zubac\zubaciv01,C,23,LAC,72,33,22.3,3.6,5.5,...,NaN,4.8,2.1,6.9,0.206,NaN,0.6,0.4,1.0,1.2

#### We can see that there are two columns called "Unnamed: 19" and "Unnamed: 24", which have null values for every observation

#### We could also remove some rows from the advanced data, like the one that have the suffix '_a' which is the same as the ones from the regular seaon, which represents their teams, positions, and basic informations

In [364]:
new_df = new_df.drop(axis=1, columns=['Unnamed: 19', 'Unnamed: 24'])

In [365]:
new_df = new_df.drop(axis=1, columns=['Rk_a', 'Pos_a', 'Age_a', 'Tm_a', 'G_a', 'MP_a',])

In [366]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1221 entries, 0 to 1220
Data columns (total 50 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      1221 non-null   int64
 1   Player  1221 non-null   object
 2   Pos     1221 non-null   object
 3   Age     1221 non-null   int64
 4   Tm      1221 non-null   object
 5   G       1221 non-null   int64
 6   GS      1221 non-null   int64
 7   MP      1221 non-null   float64
 8   FG      1221 non-null   float64
 9   FGA     1221 non-null   float64
 10  FG%     1216 non-null   float64
 11  3P      1221 non-null   float64
 12  3PA     1221 non-null   float64
 13  3P%     1142 non-null   float64
 14  2P      1221 non-null   float64
 15  2PA     1221 non-null   float64
 16  2P%     1212 non-null   float64
 17  eFG%    1216 non-null   float64
 18  FT      1221 non-null   float64
 19  FTA     1221 non-null   float64
 20  FT%     1163 non-null   float64
 21  ORB     1221 non-null   float64
 22  DRB     1221 non-null   float64
 23  TRB     1221 non-null   float64
 24  AST     1221 non-null   float64
 25  STL     1221 non-null   float64
 26  BLK     1221 non-null   float64
 27  TOV     1221 non-null   float64
 28  PF      1221 non-null   float64
 29  PTS     1221 non-null   float64
 30  PER     1221 non-null   float64
 31  TS%     1216 non-null   float64
 32  3PAr    1216 non-null   float64
 33  FTr     1216 non-null   float64
 34  ORB%    1221 non-null   float64
 35  DRB%    1221 non-null   float64
 36  TRB%    1221 non-null   float64
 37  AST%    1221 non-null   float64
 38  STL%    1221 non-null   float64
 39  BLK%    1221 non-null   float64
 40  TOV%    1217 non-null   float64
 41  USG%    1221 non-null   float64
 42  OWS     1221 non-null   float64
 43  DWS     1221 non-null   float64
 44  WS      1221 non-null   float64
 45  WS/48   1221 non-null   float64
 46  OBPM    1221 non-null   float64
 47  DBPM    1221 non-null   float64
 48  BPM     1221 non-null   float64
 49  VORP    1221 non-null   float64
dtypes: float64(43), int64(4), object(3)
memory usage: 486.5+ KB

#### Now, we will do another left join with the salaries dataframe, df1. All we need from df1 is the salary for 2021-22.

In [367]:
df = new_df.merge(df1[['Player', '2021-22']], on='Player', how='left')

In [368]:
df.head()
df = df.rename(axis=1,mapper={'2021-22':'Salary'})

**Now we have the merged all the data. The informations of the columns are contained in the repository called Glossary.txt**

## 2.2.2 Counting Categorical Variables

#### It looks like positions and teams are the categorical variables we have in the dataset. I believe that these categories might be really important for our data.

In [369]:
df.info()
df['Salary'] = df['Salary'].str.replace('[$,]', '')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1345 entries, 0 to 1344
Data columns (total 51 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      1345 non-null   int64
 1   Player  1345 non-null   object
 2   Pos     1345 non-null   object
 3   Age     1345 non-null   int64
 4   Tm      1345 non-null   object
 5   G       1345 non-null   int64
 6   GS      1345 non-null   int64
 7   MP      1345 non-null   float64
 8   FG      1345 non-null   float64
 9   FGA     1345 non-null   float64
 10  FG%     1340 non-null   float64
 11  3P      1345 non-null   float64
 12  3PA     1345 non-null   float64
 13  3P%     1263 non-null   float64
 14  2P      1345 non-null   float64
 15  2PA     1345 non-null   float64
 16  2P%     1336 non-null   float64
 17  eFG%    1340 non-null   float64
 18  FT      1345 non-null   float64
 19  FTA     1345 non-null   float64
 20  FT%     1283 non-null   float64
 21  ORB     1345 non-null   float64
 22  DRB     1345 non-null   float64
 23  TRB     1345 non-null   float64
 24  AST     1345 non-null   float64
 25  STL     1345 non-null   float64
 26  BLK     1345 non-null   float64
 27  TOV     1345 non-null   float64
 28  PF      1345 non-null   float64
 29  PTS     1345 non-null   float64
 30  PER     1345 non-null   float64
 31  TS%     1340 non-null   float64
 32  3PAr    1340 non-null   float64
 33  FTr     1340 non-null   float64
 34  ORB%    1345 non-null   float64
 35  DRB%    1345 non-null   float64
 36  TRB%    1345 non-null   float64
 37  AST%    1345 non-null   float64
 38  STL%    1345 non-null   float64
 39  BLK%    1345 non-null   float64
 40  TOV%    1341 non-null   float64
 41  USG%    1345 non-null   float64
 42  OWS     1345 non-null   float64
 43  DWS     1345 non-null   float64
 44  WS      1345 non-null   float64
 45  WS/48   1345 non-null   float64
 46  OBPM    1345 non-null   float64
 47  DBPM    1345 non-null   float64
 48  BPM     1345 non-null   float64
 49  VORP    1345 non-null   float64
 50  Salary  992 non-null    object
dtypes: float64(43), int64(4), object(4)
memory usage: 546.4+ KB

/var/folders/4m/qh070ww90rqgmcw604kkdt8r0000gn/T/ipykernel_42023/186658444.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Salary'] = df['Salary'].str.replace('[$,]', '')

In [370]:
# We will drop the columns that have no values in salaries, since they will not help us to get a prediction

df = df.dropna(subset=['Salary'])

In [371]:
df['Player'].value_counts()

DeMarcus Cousins\couside01     27
Justin Jackson\jacksju01       27
Brad Wanamaker\wanambr01       18
Jabari Parker\parkeja01        18
Blake Griffin\griffbl01        18
                               ..
Tim Hardaway Jr.\hardati02      1
Tyrese Haliburton\halibty01     1
Rui Hachimura\hachiru01         1
Josh Green\greenjo02            1
Ivica Zubac\zubaciv01           1
Name: Player, Length: 395, dtype: int64

#### There are certain players that have played on different teams, and as a result, they were recorded several times. For example, Demarcus Cousins have appeared 27 times.

In [372]:
df['Salary'].isna()

0       False
2       False
3       False
4       False
5       False
        ...
1340    False
1341    False
1342    False
1343    False
1344    False
Name: Salary, Length: 992, dtype: bool

In [373]:
#Salaries are strings not numbers yet
df['Salary'] = df['Salary'].astype(int)
df['Salary']

0        2711280
2       17073171
3       28103550
4        2641691
5        2641691
          ...
1340     8526316
1341    14190000
1342     8326471
1343     2389641
1344     7518518
Name: Salary, Length: 992, dtype: int64

In [374]:
pts = df[['Player', 'PTS']].sort_values(by='PTS', ascending=False)
pts

                              Player   PTS
289          Stephen Curry\curryst01  32.0
70             Bradley Beal\bealbr01  31.3
798         Damian Lillard\lillada01  28.8
352            Joel Embiid\embiijo01  28.5
35   Giannis Antetokounmpo\antetgi01  28.1
..                               ...   ...
221             Gary Clark\clarkga01   0.0
220             Gary Clark\clarkga01   0.0
219             Gary Clark\clarkga01   0.0
216             Gary Clark\clarkga01   0.0
218             Gary Clark\clarkga01   0.0

[992 rows x 2 columns]

Now we are gonna see what positions are there, and whether certain positions get paid more or not

In [375]:
salaries_by_positions = df.groupby(['Pos'])

In [376]:
salaries_by_positions['Salary'].mean()

Pos
C        6.204436e+06
C-PF     1.219512e+07
PF       9.834783e+06
PF-C     1.782621e+06
PF-SF    4.347600e+06
PG       8.374691e+06
PG-SG    4.384800e+07
SF       5.633077e+06
SF-PF    1.239929e+06
SF-SG    7.179310e+06
SG       8.138949e+06
SG-PG    5.414678e+06
SG-SF    1.035862e+07
Name: Salary, dtype: float64

In [377]:
df['Pos'].value_counts()

C        248
SG       191
PG       182
PF       178
SF       153
SF-SG      9
SF-PF      7
SG-SF      6
SG-PG      6
PF-C       3
PG-SG      3
PF-SF      3
C-PF       3
Name: Pos, dtype: int64

## 2.3 Examine the Means and Medians

Examine the mean and medians for points, rebounds, and assists

In [378]:
df[['PTS','TRB', 'AST']].mean()

PTS    9.671270
TRB    4.061089
AST    2.229234
dtype: float64

In [379]:
df[['PTS','TRB', 'AST']].median()

PTS    8.45
TRB    3.50
AST    1.70
dtype: float64

## 2.4 Profiling

In [ ]:
report = df.profile_report(sort='None', html={'style':{'full_width': True}}, progress_bar=False)
report